.detail_container{

    width: 60%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
}

.heading{
    padding:10px;

}


td {
    padding: 10px;
    border: 1px solid rgb(202, 202, 202);
    border-spacing: none;
}
tr {
    border: none;
    width: 400px !important;
}

#table-cont {
    width: 400px !important;
    border: 1px solid rgb(202, 202, 202);
    /* margin: auto; */
    margin-top: 30px;
    /* position: relative; */

}
@media(max-width: 574px) {
    .detail_container{

        width: 90%;
        margin: auto;
        margin-top: 150px;
        padding: 20px;
    }
    table {
        width: 200px !important;
        border: 1px solid rgb(202, 202, 202);
        /* margin: auto; */
        margin-top: 30px;
        /* position: relative; */
    }
    #table-cont {
        width: 200px !important;
        border: 1px solid rgb(202, 202, 202);
        /* margin: auto; */
        margin-top: 30px;
        /* position: relative; */
    
    }
}
.spinner_div{
    margin: auto;
    width: 100%;
    padding: 50px;
    text-align: center;
}